## SSH - enter password for keys once!
# SSH_ENV=$HOME/.ssh/environment
   
# function ssh-add-keys {
#     # Find all private keys in the default key directory
#     for keyfile in ~/.ssh/*; do
#         # Skip non-private key files
#         if [[ ! -f "$keyfile" || "$keyfile" == *.pub ]]; then
#             continue
#         fi
#         # Add the key to the ssh-agent
#         ssh-add "$keyfile"
#     done
# }

# mv with progress
mvpow() {
    pv "$1" | printf "%q\n" | xargs -I{} mv {} "$2"
}

## Automatically open latest tmux session or create a new one
#if command -v tmux >/dev/null 2>&1; then
#  if [[ -z "$TMUX" ]]; then
#    if tmux has-session >/dev/null 2>&1; then
#      tmux attach-session -d
#    else
#      tmux new-session
#    fi
#  fi
#fi
